.listItem img {
  height: 90px;
  width: 90px;
}

.listItem {
  overflow-wrap: break-word;
  list-style: none;
  margin: 25px;
}

.bought p {
  text-decoration: line-through
}

.bought .dim {
  opacity: 0.45
}

.boughtIcon {
  font-size: 1.25em;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}

