.listRow {
  list-style: none;
  margin: 2em;
}

.boughtPresent {
  font-size: 1.35em;
}

.avatarImage {
  $size: 64px;
  display: inline-block;
  margin-right: 2em;
  height: $size;
  width: $size;
}
